/* Estilos generales */
body {
    font-family: 'Orbitron', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#contenedor {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#central {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group i {
    padding: 0 10px;
    color: #333;
}

.input-group input {
    border: none;
    padding: 10px;
    width: 100%;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
    color: #333;
}

.input-group input:focus {
    border: 1px solid #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.pie-form {
    text-align: center;
    margin-top: 20px;
}

.pie-form a {
    color: #007BFF;
    text-decoration: none;
    font-size: 1rem;
}

.pie-form a:hover {
    text-decoration: underline;
}


.btn-registrar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

.btn-registrar:hover {
    background-color: #0056b3;
}

.inferior {
    text-align: center;
    margin-top: 20px;
}

.inferior a {
    color: #333;
    text-decoration: none;
}

.inferior a:hover {
    text-decoration: underline;
}
