body {
    font-family: 'Orbitron', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#contenedor {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    box-sizing: border-box;
}

.titulo {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #fafafa;
}

.input-group i {
    color: #007BFF;
    margin-right: 10px;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

.btn-recuperar {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-recuperar:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.btn-recuperar:active {
    background-color: #004085;
    transform: scale(0.98);
}


.pie-form {
    text-align: center;
    margin-top: 15px;
}

.pie-form a {
    color: #007BFF;
    text-decoration: none;
    font-size: 0.9rem;
}

.pie-form a:hover {
    text-decoration: underline;
}
